
<footer>
       <div class="mx-3 px-3 mt-5">
          <div class="row quick_links">
            <div class="col-lg-4 col-md-5 col-sm-10">
              <p class="fs-3">
              <img
                  src="/static/images/logo-dark.png"
                  alt="logo"
                  width="50"
                  class="img-fluid"/>
              CareerConnect </p>
              <p>Career Connect is a platform that connects recruiters to potential employees.
                  Recruit the profile that your company deserve,</p>
              <p class="social_icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
              </p>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-10">
                  <ul>
                    <li><p class="fs-3">Resources</p></li>
                    <li><a href="#" class="fs-5">How it works.</a></li>
                    <li><a href="#" class="fs-5">Pricing</a></li>
                    <li><a href="#" class="fs-5">FAQ</a></li>
                  </ul>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-10">
             <p class="mb-3 fs-3"> Subscribe <img
                  src="/static/images/newsletter.svg"
                  alt="newsletter"
                  width="50"
                  class="img-fluid"/> </p>
              <form action="#" method="post">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <div class="input-group">
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter your email"
                  />
                  <button class="btn btn-dark" disabled>Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row py-4 justify-content-between mx-3 rights">
      <div class="col-lg-5">
        <p>&copy; 2024 CareerConnect. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 d-flex justify-content-end">
        <p>
          <a href="#">Support Center</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Condition</a>
        </p>
      </div>
    </div>
</footer>