{% extends "jobseeker/layout.html" %}
{% block subnav %}{% endblock subnav %}

{% block content %}

<main style="min-height: 520px">
  <!-- Latest Jobs -->
  <div class="p-2 d-flex justify-content-between bg-light">
    <p>Showing search result for <em>{{keyword}}</em> </p>
    {% if total_jobs %}
    <p> <b>{{total_jobs}}</b> {% if total_jobs <= 1 %} job {% else %} jobs {% endif %} found.</p>
    {% else %}
    <p> <b>no matching job</b> found.</p>
    {% endif %}
  </div>
  {% if jobs %}
  <div class="row row-cols-md-2 row-cols-1 row-cols-lg-3 g-3 p-2 mt-2">
    {% for job in jobs %}
      {% if job.job_status == 'Available' %}
    <div class="col job_card">
      <div class="card p-2">
        <div class="d-flex">
            <img
              src="/static/logos/{% if job.job_employer.employer_company_logo %}{{ job.job_employer.employer_company_logo }}{% else %}avatar.jpeg{% endif %}"
              alt=""
              class="img-square"
            />
            <h6 class="ms-2 align-self-center text-wrap">{{ job.job_title }}</h6>
          </div>
          <div class="title px-3 text-center">
            <h6 class="card-subtitle my-2 text-body-secondary">
              {{ job.job_employer.employer_company_name }}
            </h6>
            <h6 class="card-subtitle my-2 text-body-secondary">
              {{ job.job_lga.lga_name }}, {{ job.job_state.state_name }} State
            </h6>
            </div>
            <p class="card-text text-primary d-flex mt-1 justify-content-center">
              <span class="job_info"> {{ job.job_mode }} </span>
              <span class="job_info"> {{ job.job_type }} </span>
              <span class="job_info"> {{ job.job_level.level_name }} </span>
            </p>
            <div class="card-text d-flex justify-content-between align-items-center">
              <a href="{{url_for('job_details', id=job.job_id)}}"
                type="button"
                class="text-green btn btn-icon"
                style="text-decoration: none;">View Details
              </a>
              <span class="text-muted" style="font-size:small"> Posted on: {{job.posted_on.strftime('%B %d, %Y')}}</span>
            </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  <!-- Latest Jobs Ends -->
</main>

  {% endblock content %}
