<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="keyword" content="web development, job portal, remote jobs, profession, employement, recruits, hire, jobseeker,employyer, professional experience, job posting">
        <meta name="description" content="Unlock Your Career Potential at Career Connect: Explore a Wide Range of Job Listings, Apply with Confidence, and Connect with Top Employers.
          Our Comprehensive Platform Offers Tailored Job Matches, Expert Career Advice, and Networking Opportunities. Join Career Connect Today and Take the Next Step in Your Professional Journey!">
        <meta name="author" content="Joachim Oforma, Igwebuike">
        <title>CareerConnect - {{title}}</title>
        <link href="/static/styles/styles.css" rel="stylesheet" />
        <link href="/static/fontawesome/css/all.css" rel="stylesheet">
        <link href="/static/styles/stylesheet.css" rel="stylesheet">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/v/bs5/dt-2.0.8/r-3.0.2/sb-1.7.1/datatables.min.css" rel="stylesheet">
    </head>
    <body class="sb-nav-fixed" style="background: lavender;">
        <nav class="sb-topnav navbar navbar-expand bg-light" style="height: 70px;">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3 hstack" href="{{ url_for('admin_dashboard') }}">
                <img src="/static/images/logo-light.png" alt="logo" width="40"/>
                <small class="d-none d-md-block text-green"> CareerConnect </small>
            </a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm d-md-none order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle">
                <i class="fas fa-bars ms-2" style="color: rgb(46, 216, 110); font-size: 1.2rem"></i>
            </button>
            <!-- Navbar Search-->
            <form class="d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                 <div class="" style="font-size: 1.3rem;">
                 <a href="#"><i class="fa-regular fa-bell" style="color: rgb(46, 216, 110)"></i></a>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav d-none d-md-block ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(46, 216, 110)">
                        <i class="fas fa-user fa-fw" style="font-size: 1.3rem; color: rgb(46, 216, 110);"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="background: lavender">
                        <li><a class="dropdown-item" href="{{ url_for('admin_profile') }}"><i class="fas fa-circle-user"></i> My Profile</a></li>
                        <li><a class="dropdown-item" href="{{url_for('admin_settings')}}"><i class="fas fa-gear"></i> Account Settings</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('admin_logout') }}"><i class="fas fa-right-to-bracket"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion" id="sidenavAccordion" style="background-color: #fff;">
                    <div class="sb-sidenav-menu mb-5">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading"><i class="fas fa-tachometer-alt"></i> Dashboard</div>
                            <a class="nav-link" href="{{url_for('admin_dashboard')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                Home
                            </a>
                             <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#manageJobs" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Manage Jobs
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="manageJobs" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{url_for('jobs')}}"><i class="fas fa-chart-area me-2"></i> All Jobs </a>
                                    <a class="nav-link" href="{{url_for('add_job')}}"><i class="fas fa-upload me-2"></i> Add Job </a>
                                </nav>
                            </div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#registeredUsers" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                Registered Users
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="registeredUsers" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{ url_for('employers') }}"><i class="fas fa-circle-user me-2"></i> Employers </a>
                                    <a class="nav-link" href="{{url_for('jobseekers')}}"><i class="fas fa-user-group me-2"></i> Job Seekers </a>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading"><i class="fas fa-gears"></i> Settings</div>
                            <a class="nav-link" href="{{url_for('admin_profile')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-circle-user"></i></div>
                                My Profile
                            </a>
                            <a class="nav-link" href="{{url_for('admin_settings')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-gear"></i></div>
                                Account Settings
                            </a>
                            <a class="nav-link" href="{{url_for('admin_logout')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-right-to-bracket"></i></div>
                                Logout
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <p class="text-green">Super Admin</p>
                        <span class="small">Last Logged in:</span> 
                        <p class="small text-blue"> {{adminid.last_loggedin}}</p>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content" style="min-height: 600px;" class="mt-3">
                {% block subnav %}

                {% endblock subnav %}

                {% block content %}


                {% endblock content %}

                 <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="text-muted">2024 &copy; CareerConnect Web Team</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="/static/scripts/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/scripts/script.js"></script>
        <script src="/static/scripts/scripts.js"></script>
        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
        
        {% block customJS %}{% endblock customJS %}
    </body>

</html>
