{% extends "admin/layout.html" %}

{% block subnav %}
    <div class="card mb-3 border-0" style="border-radius: 0px; background: #ddf7f5">
        <div class="card-header">
            <h4 class="mt-2"><i class="fas fa-gear"></i> Account Settings</h4>
        </div>
        <p class="ms-3 mt-1"> Update your password. Enter a new password and confirm it. </p>
    </div>
{% endblock subnav %}

{% block content %}
<main>
    <div class="container-fluid px-4" style="min-height: 420px">
        <div class="row justify-content-center align-items-center">
            {% set messages = get_flashed_messages(with_categories=True) %}
                {% for cat, msg in messages %}
                    {% if cat == 'error' %}
                    <div class="alert alert-danger"><i class="fas fa-circle-xmark"></i> {{msg}}</div>
                    {% else %}
                    <div class="alert alert-success"><i class="fas fa-circle-check"></i> {{msg}}</div>
                    {% endif %}
                {% endfor %}
                    
                 <div class="col-lg-8 col-12">
                     <form action="{{url_for('admin_settings')}}" method="post">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <div class="card p-3">
                            <div class="form-floating mb-3">
                                <input type="password" name="password" class="form-control border-dark"/>
                                <label>New Password*</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" name="confPassword" class="form-control border-dark"/>
                                <label>Confirm Password*</label>
                                </div>
                            <div class="my-4">
                                <button type="submit" class="btn btn-primary col-lg-3">Save Changes</button>
                            </div>
                        </div>
                     </form>
                 </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}